<!--********************************************************************** **************************** The Slide In Details ************************ **************************************************************************-->

<input ng-click="closeDescriptionAndLi()" type="checkbox" class="mm" id="detailstoggler"></input>

  <div class="row mm" id="pm-details-slider">

    <div class="col-xs-12 mm pm-details-wrapper">

      <div class="row mm pm-details-jumbotron-wrapper">

        <div class="col-xs-12 mm pm-h100 pm-details-jumbotron">
          <label for="detailstoggler" class="mm toggle">
          <i ng-click="flushDetails()" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        </label>
        <input type="checkbox" class="mm" id="pm-podcast-description-card-toggler"></input>
        <div class="mm pm-details-title-ticker">

          <h1>{{ detailsPodcastTitle }}</h1>

        </div>

        <img ng-src="{{ detailsPodcastArtwork }}" class="mm" id="pm-details-artwork"></img>

        <p id="" class="mm pm-subscribed-alert">Subscribed!</p>
        <p id="" class="mm pm-unsubscribed-alert">Unsubscribed</p>

          <label for="pm-podcast-description-card-toggler" class="mm toggle">
        <i class="mm fa fa-info-circle" aria-hidden="true"></i>
      </label>

        <i class="fa fa-plus mm" id="pm-subscribe-button" ng-click="subscribeToPodcast()"></i>
        <div class="mm" id="pm-podcast-description-card">

          <p>
            {{ detailsPodcastDescription }}
          </p>
        </div>

        </div>

      </div>
      <div class="row mm pm-details-episodes-list-wrapper">
        <div class="col-xs-12 mm pm-details-episodes-list">

          <div ng-repeat="detail in details track by $index" class="row mm pm-episodes-li" ng-attr-id="{{ activeLi }}">

            <div class="col-xs-10 mm pm-li-title">
                <div class="row mm pm-episode-title-wrapper">
                  <div class="col-xs-12 mm pm-episode-title">
                    <h3>{{ detail.title }}</h3>

                    <i class="fa fa-clock-o"></i><p class="pm-episode-time">26:05</p>

                  </div>
                </div>
                <div class="row mm pm-episode-description-wrapper">
                    <div class="col-xs-12 mm pm-episode-description">


                      <p>{{ detail.description }}</p>
                    </div>

                </div>
            </div>
            <div class="col-xs-2 mm pm-h100 pm-li-buttons">
              <i ng-click="toggleActiveLi()" class="fa fa-play-circle" aria-hidden="true"></i>
            </div>
          </div>
          </div>





        </div>


      </div>

    </div>

  </div>

  <!--************************************************************************
******************************************************************************
  ********************************** THE GRID ******************************* *****************************************************************************************************************************************************-->


  <div class="row mm" id="pm-podcast-grid">


        <div ng-repeat="podcast in podcasts track by $index" class="mm pm-podcast-grid-square">
          <label for="detailstoggler" class="mm toggle">
            <i ng-click="populateDetails( podcast )" id="" class="fa fa-info-circle" aria-hidden="true"></i>
          </label>

          <img ng-src="{{ podcast.artwork }}" class="mm pm-podcast-artwork"></img>

          <div class="mm pm-podcast-grid-title-ticker">
            <h3>{{ podcast.title }}</h3>
          </div>
        </div>


    </div>
