// Color Pallete
$pal-green: #3fbe8f
$pal-blue: #018897
$pal-bggrey: #535353
$pal-mediumgrey2: #494949
$pal-mediumgrey: #646464
$pal-lightgrey: #969696
$pal-white: #dddddd
$pal-facebook: #3c5a96
$pal-twitter: #30a8dc
$pal-google: #d9453d
$pal-playergoogle: #222327
$pal-playerg1: #424242
$pal-playerg2: #636363

@import _mixins

body
  background-color: #131313

.mm.pm-header-bar
  height: 5vh
  width: 100%
  // border: 2px solid yellow
  overflow: hidden
  background-color: #000000
  form
    width: 100%
  .pm-noavatar-icon
    display: none
    top: 0%
    left: 0%
    font-size: 3em
    color: #dddddd

.mm.pm-header-search-bar
  height: 100%
  margin: 0

.mm#pm-search-icon
  color: #eeeeee
  font-size: 1.8em
  margin-left: 3%

.mm.pm-user-avatar
  height: 80%
  width: 50%
  border-radius: 50%
  box-shadow: 0px 0px 60px rgba(255,255,255,0.9)
  z-index: 2

.mm.pm-user-avatar-dropdown
  height: 11vh
  width: 23vw
  opacity: 0
  position: fixed
  display: none
  background-color: #434343
  top: 0%
  right: 0%
  z-index: 1
  border-radius: 5%
  +transition(all, .3s, linear, 0s)
  p
    color: #eee
    font-size: 1em
    position: absolute
    bottom: 17%
    left: 23%
    margin: 0

.mm#pm-dropdown-show
  opacity: 1

.mm#pm-logo
  width: 90%
  max-height: 82px
  max-width: 280px

.mm.pm-h100
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.mm.pm-button-bar
  height: 6vh
  width: 100%
  // border: 2px solid yellow
  +bgGradient($pal-green,$pal-blue)
  h2
    margin: 0
    color: #eeeeee

#pm-mine, #pm-more, #pm-refresh
  position: absolute
  +transition(all, .3s, linear, 0s)

.mm#pm-mine-bar
  padding: 0 5%
  i
    color: #eeeeee
    font-size: 2em
  #pm-mine
    left: 41.5%
  #pm-more
    left: 81%
    font-size: 140%
  #pm-refresh
    display: none
    left: 5%

.mm#pm-more-bar
  padding: 0 5%
  i
    color: #eeeeee
    font-size: 2em
  #pm-mine
    left: 4%
    font-size: 140%
  #pm-more
    left: 38.5%
  #pm-refresh
    display: none
    left: 89%

.mm#pm-podcast-grid
  display: flex
  flex-wrap: wrap
  height: 70vh
  overflow-y: scroll
  overflow-x: hidden
  position: relative
  align-content: flex-start
  left: 0%
  +transition(all, .6s, cubic-bezier(0.42, 0, 0.54, 1.4), 0s)

.mm.pm-podcast-grid-square
  height: 37.5%
  width: 50%
  position: relative

#pm-details

.mm.pm-podcast-artwork
  width: 100%
  height: 100%

.mm.toggle
  display: inline
  .fa.fa-info-circle
    color: #eeeeee
    font-size: 2em
    position: absolute
    top: 10%
    right: 11%
    text-shadow: 3px 3px 5px rgba(51, 51, 51, 0.9)


.mm.pm-podcast-grid-row
  height: 34%
  div.pm-h100
    background: radial-gradient(red,yellow,green)

.mm.pm-podcast-grid-title-ticker
  +bgGradient( rgba(63, 190, 143, 0.8), rgba(0, 0, 0, 0.6) )
  width: 100%
  position: absolute
  bottom: 0%
  display: flex
  align-items: flex-start
  padding-left: 4%
  padding-right: 4%
  border-bottom: 1px solid rgba(255,255,255,1)
  h3
    color: #eeeeee
    margin-top: 6%
    margin-bottom: 4%
    font-size: 1.4em
    text-shadow: 3px 3px 2px #555555

.mm.pm-player-artwork
  // background-color: purple

.mm.pm-nothing-playing-icon
  font-size: 8em
  color: #eeeeee

.mm.pm-player
  height: 100%

.mm.pm-player-title-duration-wrapper
  height: 50%
  // background-color: green

.mm.pm-podepi-title
  flex-direction: column
  align-items: flex-start
  h4
    margin-bottom: 10px
    color: #ffffff
  h5
    margin: 0
    color: #eeeeee
  // background-color: orange

.mm.pm-episode-duration
  flex-direction: column
  justify-content: flex-end
  .fa
    font-size: 1.2em
    color: #eeeeee
  p
    font-size:
    color: #eeeeee
  // background-color: pink

.mm.pm-player-controls-wrapper
  height: 50%
  // background-color: aqua

.mm.pm-player-controls
  justify-content: flex-start
  .fa
    color: #eeeeee
    font-size: 2.5em
    margin-left: 12px
  .fa-fast-backward
    margin-left: 0px
  .fa-volume-up
    margin-left: 23px
  // background-color: blue

/*******************************************************/
/***************** DETAILS *****************************/
/*******************************************************/

.mm#pm-details-slider
  height: 70vh
  width: 100vw
  position: fixed
  right: -100%
  +transition(all, .6s, cubic-bezier(0.42, 0, 0.54, 1.4), 0s)

.mm.pm-details-wrapper
  height: 100%

.mm.pm-details-jumbotron-wrapper
  height: 40%

.mm.pm-details-jumbotron
  .fa.fa-arrow-circle-left
    position: absolute
    top: 4%
    left: 4%
    font-size: 3em
    color: rgba(238, 238, 238, 0.9)
    text-shadow: 3px 3px 3px #444444
  .fa.fa-info-circle
    position: absolute
    top: 65%
    right: 3.7%
    font-size: 4em
    color: rgba(238, 238, 238, 0.9)
    text-shadow: 3px 3px 3px #444444

.mm.pm-subscribed-alert, .mm.pm-unsubscribed-alert
  position: absolute
  color: white
  font-size: 2em
  right: 16%
  text-shadow: 3px 3px 3px black
  top: 6%
  +transition(all,.4s,linear,0s)
  opacity: 0

.mm#pm-subscribed
  opacity: 1

.mm.pm-details-title-ticker
    min-height: 23%
    max-height: 36%
    +bgGradient(rgba(63,190,143,0.8), rgba(0,0,0,0.3))
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: flex-start
    position: absolute
    bottom: 0%
    left: 0%
    overflow: hidden
    padding-left: 3%
    +transition(all,.5s,linear,0s)
    opacity: 1
    h1
      width: 80%
      margin-top: 1%
      left: 5%
      bottom: 3%
      color: #ffffff
      +transition(all,.4s,linear,0s)
      text-shadow: 3px 3px 3px #000000

.mm#pm-subscribe-button
  font-size: 3em
  color: rgba(238, 238, 238, 0.9)
  text-shadow: 3px 3px 3px #444444
  position: absolute
  top: 7%
  right: 5%
  +transition(all,.1s,linear,0s)

.mm.pm-rotate
  -ms-transform: rotate(45deg)
  -webkit-transform: rotate(45deg)
  transform: rotate(45deg)

.mm#pm-details-artwork
  height: 100%
  max-width: 100%
  box-shadow: 0px 0px 100px rgba(255,255,255,0.3)

.mm#pm-podcast-description-card
  justify-content: center
  align-items: flex-start
  height: 68%
  width: 75%
  position: absolute
  left: -200%
  bottom: 6%
  overflow-y: scroll
  border-radius: 2%
  padding: 1% 3%
  box-shadow: 5px 5px 5px #444444
  +bgGradient(rgba(63,190,143,0.8),rgba(1,135,150,0.8))
  +transition(all,.5s,cubic-bezier(1, 0.54, 0, 0.51),0s)
  p
    font-size: 1.2em
    color: #ffffff
    text-shadow: 3px 3px 2px #333333

.mm#pm-podcast-description-card-toggler
  display: none
  &:checked ~ #pm-podcast-description-card
    left: 6%
  &:checked + .pm-details-title-ticker
    opacity: 0


.mm.pm-details-episodes-list
  height: 60%
  overflow: scroll
  position: relative
  background-color: #000000

.mm#detailstoggler
  display: none
  &:checked + .mm#pm-details-slider
    right: 0%
  &:checked ~ .mm#pm-podcast-grid
    left: -100%

.mm.pm-episodes-li
  height: 18%
  width: 100%
  background-color: #000000
  position: relative
  display: flex
  align-items: center
  +transition(all, 0.3s, cubic-bezier(0.54, 0.04, 0.85, 0.99), 0s)
  border-bottom: 1px solid rgba(255,255,255,0.4)
  .mm.pm-episode-title-wrapper
    display: flex
    width: 80%
    height: 75%
    align-items: flex-start
    overflow: hidden
    padding: 0 3% 0 3%
    // background-color: orange
  .mm.pm-episode-buttons-wrapper
    display: flex
    width: 20%
    height: 100%
    justify-content: space-between
    align-items: center
    // background-color: green
    margin-right: 3%
  h3
    margin: 0
    font-size: 1.6em
    color: #eeeeee
  .fa-plus-square-o
    font-size: 2.5em
    color: #eeeeee
    margin-right: 3%
    opacity: 0.9
  .fa-play-circle
    font-size: 3em
    color: #eeeeee
    opacity: 0.9



/*******************************************************/
/***************** Episode Detail Expansion ************/
/******************************************************/

.mm.pm-episode-card
  // background-color: purple
  background: -webkit-linear-gradient(black,#494949,black)
  background: -o-linear-gradient(black,#494949,black)
  background: -moz-linear-gradient(black,#494949,black)
  background: linear-gradient(black,#494949,black,#494949,black)
  display: none
  opacity: 0
  height: 42.1vh
  width: 100%
  position: fixed
  top: 39vh
  z-index: 1
  +transition(all,.3s,linear,0s)

.mm.pm-episode-card-title-wrapper
  height: 20%
  width: 100%
  display: flex

.mm.pm-episode-card-title
  // background-color: red
  width: 80%
  height: 100%
  display: flex
  align-items: center
  justify-content: flex-start
  padding: 5% 3% 0% 3%
  h3
    margin: 0
    font-size: 1.6em
    color: #eeeeee

.mm.pm-episode-card-buttons
  // background-color: orange
  width: 20%
  height: 100%
  display: flex
  justify-content: space-between
  align-items: center
  margin-right: 3%
  .fa-minus-square-o
    font-size: 2.5em
    color: #eeeeee
    opacity: 0.9
  .fa-play-circle
    font-size: 3em
    color: #eeeeee
    opacity: 0.9

.mm.pm-episode-card-description
  // background-color: blue
  height: 70%
  display: flex
  padding: 3% 5% 5% 5%
  margin-top: 3%
  overflow: scroll
  p
    color: #eeeeee
    font-size: 1.1em
    text-shadow: 2px 2px 5px #222222

.mm#pm-show-episode-card
  display: block


/*******************************************************/
/***************** Player Bar ************/
/******************************************************/

.mm.pm-display-none
  display: none

.mm.pm-player-bar
  height: 19vh
  +bgGradient($pal-playerg1,$pal-playerg2)

.mm.videogular-container
  width: 100%
  overflow: hidden
  & button
    outline: none

.mm.videogular-container.audio
  height: 100%
  width: 100%
  display: flex
  justify-content: flex-start
  flex-direction: row

.mm.pm-player-bar-artwork-wrapper
  height: 70%
  width: 29%
  display: flex
  justify-content: center
  align-items: center

.mm.pm-player-bar-artwork
  height: 100%
  width: 100%

.mm.pm-player-bar-titles-wrapper
  height: 70%
  width: 71%
  display: flex
  flex-direction: column
  justify-content: space-around
  div
    h3
      margin: 1% 3% 2% 3%
      color: #eeeeee
  div
    h4
      margin: 2% 3% 2% 3%
      color: #ffffff

.mm.pm-player-bar-play-button
  font-size: 2.7em

.mm.pm-player-bar-speed-button
  font-size: 1.7em
  display: flex
  flex-direction: row
  justify-content: center
  height: 100%
  margin: 0
  padding-bottom: 10%

.mm.pm-player-bar-volume-button
  font-size: 1.8em

.mm.pm-player-bar-scrub-bar
  width: 45%
  div
    height: 8px
    div
      height: 8px

.mm.pm-episode-wrapper-overflow
  +bgGradient(#505050, #646464)
  overflow: hidden
  height: 70%
  justify-content: flex-start
  align-items: flex-start

.mm.pm-title-wrapper-overflow
  +bgGradient(#393939, #484848)
  overflow: hidden
  height: 30%
  display: flex
  justify-content: flex-start
  align-items: flex-start
