<div class="row hm pm-login-box">

  <div class="hm pm-login-circle">
    <i class="fa fa-user pm-login-fa-user" aria-hidden="true"></i>

  </div>
  <div class="hm pm-text-align-center">
    <h3>SIGN IN</h3>
    <h4>with</h4>

  </div>

      </div>

<div class="row hm pm-login-icons">
<div class="col-xs-4 hm pm-h100">
  <i ng-click="loginFacebook()" class="fa fa-twitter-square" id="pm-login-twitter-icon" aria-hidden="true"></i>
</div>

<div class="col-xs-4 hm pm-h100">
  <i ng-click="loginFacebook()" class="fa fa-facebook-square" id="pm-login-facebook-icon" aria-hidden="true"></i>
</div>

<div class="col-xs-4 hm pm-h100">
  <i ng-click="loginFacebook()" class="fa fa-google-plus-square" id="pm-login-google-icon" aria-hidden="true"></i>
</div>
</div>
