<div class="row mm pm-header-bar">
    <div class="col-xs-3 mm pm-h100">


        <img src="../../features/images/pm-logo.png" class="mm" id="pm-logo">

    </div>

    <div class="col-xs-6 col-xs-offset-1 mm pm-h100">

        <form ng-submit="searchItunes( searchTerm )" class="form-inline">
            <div class="form-group mm pm-header-search-bar">
                <label class="sr-only" for="searching">Search bar</label>
                <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search">
            </div>
        </form>

        <i ng-click="searchItunes( searchTerm )" class="mm fa fa-search" id="pm-search-icon"></i>




    </div>

    <div class="col-xs-2 mm pm-h100">

        <i class="fa fa-user mm pm-noavatar-icon" aria-hidden="true"></i>

    </div>

</div>
