<div class="container-fluid">

    <div class="row hm pm-header-bar">
        <div class="col-xs-12 hm pm-h100">


            <img src="../../features/images/pm-logo.png" id="pm-logo">

        </div>

    </div>

    <div class="row hm pm-button-bar">

        <div class="col-xs-12 hm pm-h100">
            <h2>
        A PODCAST MANAGER
      </h2>

        </div>

    </div>

    <div class="row hm pm-gap">

    </div>

    <login-box></login-box>

  <div class="row hm pm-try-it-bar">

      <div class="col-xs-12 hm pm-h100">
          <h2 ui-sref="mine">
      CHECK IT OUT
    </h2>

      </div>

  </div>



</div>
