<div class="container-fluid">

    <div class="row pm-header-bar">
        <div class="col-xs-12 pm-h100">


            <img src="../../features/images/pm-logo.png" id="pm-logo">

        </div>

    </div>

    <div class="row pm-button-bar">

        <div class="col-xs-12 pm-h100">
            <h2>
        A PODCAST MANAGER
      </h2>

        </div>

    </div>

    <div class="row pm-gap">

    </div>

    <div class="row pm-login-box">

      <div class="pm-login-circle">
        <i class="fa fa-user pm-login-fa-user" aria-hidden="true"></i>

      </div>
      <div class="pm-text-align-center">
        <h3>SIGN IN</h3>
        <h4>with</h4>

      </div>

          </div>

  <div class="row pm-login-icons">
    <div class="col-xs-4 pm-h100">
      <i ui-sref="mine" class="fa fa-twitter-square" id="pm-login-twitter-icon" aria-hidden="true"></i>
    </div>

    <div class="col-xs-4 pm-h100">
      <i ui-sref="mine" class="fa fa-facebook-square" id="pm-login-facebook-icon" aria-hidden="true"></i>
    </div>

    <div class="col-xs-4 pm-h100">
      <i ui-sref="mine" class="fa fa-google-plus-square" id="pm-login-google-icon" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row pm-try-it-bar">

      <div class="col-xs-12 pm-h100">
          <h2 ui-sref="mine">
      CHECK IT OUT
    </h2>

      </div>

  </div>



</div>
