<div class="container-fluid">

    <div class="row pm-header-bar">
        <div class="col-xs-3 pm-h100">


            <img src="../../features/images/pm-logo.png" id="pm-logo">

        </div>

        <div class="col-xs-6 col-xs-offset-1 pm-h100">

            <form class="form-inline">
                <div class="form-group pm-header-search-bar">
                    <label class="sr-only" for="searching">Search bar</label>
                    <input type="email" class="form-control" placeholder="Search">
                </div>
            </form>



        </div>

        <div class="col-xs-2 pm-h100">

            <i class="fa fa-user pm-noavatar-icon"></i>

        </div>

    </div>

    <div class="row pm-button-bar">

        <div class="col-xs-12 pm-h100">
            <h2>
        A PODCAST MANAGER
      </h2>

        </div>

    </div>

    <div class="row pm-gap">

    </div>

    <div class="row pm-login-box">

      <div class="pm-login-circle">
        <i class="fa fa-user pm-login-fa-user"></i>

      </div>
      <div class="pm-text-align-center">
        <h3>LOG IN</h3>
        <h4>with</h4>

      </div>

          </div>

  <div class="row pm-login-icons">
    <div class="col-xs-4 pm-h100">
      <i class="fa fa-twitter-square" id="pm-login-twitter-icon"></i>
    </div>

    <div class="col-xs-4 pm-h100">
      <i class="fa fa-facebook-square" id="pm-login-facebook-icon"></i>
    </div>

    <div class="col-xs-4 pm-h100">
      <i class="fa fa-google-plus-square" id="pm-login-google-icon"></i>
    </div>
  </div>

  <div class="row pm-try-it-bar">

      <div class="col-xs-12 pm-h100">
          <h2>
      CHECK IT OUT
    </h2>

      </div>

  </div>



</div>
