<div class="container-fluid">

  <header-bar
    search-term="searchTerm"
    which-view="whichView"
    search-itunes="searchItunes"

  ></header-bar>

  <mine-more-bar
    which-view="whichView"
  ></mine-more-bar>

  <podcast-grid
    podcasts="podcasts"
    populate-details="populateDetails"    details-podcast-title="detailsPodcastTitle"
    details-podcast-artwork="detailsPodcastArtwork"
    details-podcast-description="detailsPodcastDescription"
    details="details"
    subscribe-to-podcast="subscribeToPodcast"
    flush-details="flushDetails"
    toggle-episode-card="toggleEpisodeCard"
  ></podcast-grid>

  <player-bar></player-bar>

</div>
