<div class="container-fluid">

  <header-bar
    which-view="whichView"
    user-avatar="userAvatar"
    toggle-drop-down="toggleDropDown"
  ></header-bar>

  <mine-more-bar
    which-view="whichView"
  ></mine-more-bar>

  <podcast-grid
    podcasts="podcasts"
    search-term="searchTerm"
    search-itunes="searchItunes"
    show-search-bar="showSearchBar"
    populate-details="populateDetails"    details-podcast-title="detailsPodcastTitle"
    details-podcast-artwork="detailsPodcastArtwork"
    details-podcast-description="detailsPodcastDescription"
    details="details"
    subscribe-to-podcast="subscribeToPodcast"
    flush-details="flushDetails"
    toggle-episode-card="toggleEpisodeCard"
    card-title="cardTitle"
    card-description="cardDescription"
    play-episode="playEpisode"

  ></podcast-grid>

  <player-bar
    episode-to-play="episodeToPlay"
    player-bar-ready="playerBarReady"
    player-artwork="playerArtwork"
    player-episode-title="playerEpisodeTitle"
    player-podcast-title="playerPodcastTitle"

  ></player-bar>

</div>
